body{
    margin: 0;
    padding: 0;
    background: url(biller.jpg) ;
    background-size: cover;
    backface-visibility: visible;
    background-position: center;
    font-size: sans-serif;
}
.inbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    position: absolute;
    top: -80px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.inbox p{
    margin: 0;
    padding: 0;
    font-weight: bold; 
}
.inbox input{
    width: 100%;
    margin-bottom: 20px;
}
.inbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.inbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: darkolivegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.inbox input[type="submit"]:hover{
    cursor: pointer;
    background: darkgreen;
    color: #000;
}
.inbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(80, 80, 245);
}
.inbox a:hover{
    color: darkblue;
}
.button{
    border: none;
    outline: none;
    height: 40px;
    background-color: darkolivegreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 265px;
}
.head{
    color: black;
    left: 44%;
    position: absolute;
    font-family: cursive;
    font-size: 200%;
}
.button:hover{
    cursor: pointer;
    background: darkgreen;
    color: #000;
}