#bg1 {
  /* background-color: #aeb6bf; */
  
  background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(bill1.jpg);
   
  background-position: center;
  
}
.main{
  
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 90px;
  border-radius: 10px;
  border:1px solid black;
  background-color: rgba(225,225,225,0.6);
}
#si{
      
  margin-left: 24%;
}
*{
  font-family: 'Lato', sans-serif;}

.heading{
  background: #000;
  border:0.2px solid skyblue;
  color: white;
   
   display: flex; 
   justify-content: center;
   align-items: center;
   padding-left: 30px;
   padding-right: 30px;
   width: 50%;
   
  
 
}

 
  .heading {
    margin-top: 40px;
    margin-left: 30px;
  }
  .center {
    margin-top: 13%;
    margin-left: 35%;
  }

  #bt1 {
    border: 1px solid #9fffbc;
    font-size: 15px;
    background-color: #ecf0f1;
    /* background: none; */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 55px;
  }
  #bt1:hover {
    background-color: #9fffbc;
    cursor:pointer;
    transition: 0.2s;
  }
  #bt2 {
    background: #ecf0f1;
    border: 1px solid #9fffbc;
    font-size: 15px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 58px;
    /* padding-bottom: 20px;
    padding-right: 30px; */
    padding-left: 45px;
    /* margin-left: 10px; */
    /* margin-right: 10pxs; */
  }
  #bt2:hover {
    background-color: #9fffbc;

    transition: 0.2s;
  }