body {
    background-color: #b3bec5;
}

.container-fluid {
    margin-bottom: 100px;
    background-color: #0F4C75;
    padding: 1.5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container-fluid img {
    height: 100px;
}

#header {
    text-align: right;
}