body {
    background-color: azure;
    padding: 0px;
}

.headerSection {
    background-color: #CC3D38;
    margin: 0%;
    text-align: center;
    padding: 0.5%;
    border-radius: 0cm;
}

.custInfo {
    text-align: end;
    margin: 1%;
}

.billDetails {
    text-align: center;
    
}

#innerBillDetails {
    padding: 5%;
}
.innerBillDetails {
    margin: 5%;
    padding: 1%;
}

.footerSection {
    background-color: #CC3D38;
    padding: 0.5%;
}