@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    background-color: #b3bec5;
}

.container-fluid {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    background-color: #0F4C75;
    padding: 1.5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    text-align: center;
    background-color: #0F4C75;
    width: 45%;
    border-radius: 20px;
    color: white;
}

.container label {
    margin-right: 1%;
}

.password-box input,
.username-box input {
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    background: transparent;
    outline: none;
    /* outline-color: gray; */
    height: 40px;
    width: auto;
    color: white;
    font-size: 16px;
}

.username-box {
    width: auto;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #3282B8;
    border-radius: 20px;
}

.password-box {
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #3282B8;
    border-radius: 20px;
}

.btn {
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    height: 55px;
}

.container a {
    color: white;
}

.password-box, .username-box label {
    padding-left: auto;
    padding-right: auto;
}
